.Page-wrapper {

}


header {;
  background-color: #F8F6F0;
  border-color: black;
  border-width: 5px;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  min-height: 75px;
  position: relative;

}

.logo {

}
.img-logo {
  height: 90%;
  display: block;
  padding-top: 1%;

}
.nav-bar {

}

.nav-ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
vertical-align: middle;
padding: 25px;
margin: 0px;
  ;

}
.nav-ul > li {
  text-align: center;
}

a{
  text-decoration: none;
  color: #003F62;
  font-weight: bold;
  font-family: "Trebuchet MS", fantasy;

}

.video-section{
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  justify-content: center;
  margin: 20px 0px;
}

.email-from{
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.div-email {
  position: absolute;
  align-self: center;
  margin: 10px 40%;

}
